@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Mono:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0b1015;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}
